<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.revolo.lock">

    <!-- 打开手电筒需要的权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- 扫描QR Code -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- MQTT用到的权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <!-- google推送权限 -->
    <uses-permission android:name="com.revolo.lock.permission.C2D_MESSAGE" />

    <!-- 指纹权限 -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <!--储存卡的读写权限-->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RevoloLock"
        tools:ignore="AllowBackup,LockedOrientationActivity">

        <!-- Mqtt Service -->
        <service android:name="org.eclipse.paho.android.service.MqttService" />

        <!-- Recommended for Android 9 (API level 28) and lower. -->
        <!-- Required for Android 10 (API level 29) and higher. -->
        <!--        <service-->
        <!--            android:name="MyNavigationService"-->
        <!--            android:foregroundServiceType="location" >-->
        <!--        &lt;!&ndash; Any inner elements would go here. &ndash;&gt;-->
        <!--    </service>-->

        <!--        <service-->
        <!--            android:name=".map.geofencing.GeofenceTransitionsJobIntentService"-->
        <!--            android:exported="true"-->
        <!--            android:permission="android.permission.BIND_JOB_SERVICE" />-->
        <service
            android:name=".receiver.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <receiver
            android:name=".ui.device.lock.setting.geofence.GeoFenceBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${mapsApiKey}" />

        <activity
            android:name=".ui.sign.SignSelectActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.device.add.WifiConnectActivity"
            android:hardwareAccelerated="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.device.add.AddWifiActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

            <!--注册scheme-->
            <intent-filter android:label="alexa">
                <!--必有项-->
                <action android:name="android.intent.action.VIEW" />
                <!--表示该页面可以被隐式调用，必须加上该项-->
                <category android:name="android.intent.category.DEFAULT" />
                <!--BROWSABLE指定该Activity能被浏览器安全调用-->
                <category android:name="android.intent.category.BROWSABLE" />

                <!--协议部分-->
                <!--声明自定义scheme，类似于http, https-->
                <!--                <data-->
                <!--                    android:host="192.168.8.252"-->
                <!--                    android:pathPrefix="/share/user"-->
                <!--                    android:scheme="http" />-->
                <data
                    android:host="wfp.irevolohome.com"
                    android:pathPrefix="/triple"
                    android:scheme="https" />
            </intent-filter>

        </activity>
        <activity
            android:name=".ui.sign.RegisterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sign.RegisterInputNameActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sign.RegisterAddAvatarActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sign.RegisterAddAvatarNextActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.device.add.AddDeviceStep1Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sign.ForgetThePwdActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.device.add.AddDeviceActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.device.add.AddDeviceQRCodeStep2Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sign.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.device.add.AddDeviceStep2BleConnectActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.device.add.BleConnectFailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.device.add.BleConnectSucActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.device.add.AddWifiSucActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.device.add.AddWifiFailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.device.add.DoorSensorCheckActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.device.add.InputESNActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.device.lock.DeviceDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.device.lock.OperationRecordsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.device.lock.PasswordListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.device.lock.AddInputNewPwdActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.device.lock.AddNewPwdSelectActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.device.lock.AddNewPwdNameActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.device.lock.PasswordDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.device.lock.ChangePwdNameActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.device.lock.UserManagementActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.device.lock.AddNewShareUserInputNameActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.device.lock.AuthorizationManagementActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.device.lock.SharedUserDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.device.lock.setting.DeviceSettingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.device.lock.setting.ChangeLockNameActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.device.lock.setting.WifiSettingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.device.lock.setting.AutoLockActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.device.lock.setting.PrivateModeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.device.lock.setting.DuressCodeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.device.lock.setting.DoorLockInformationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.AuthUserDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.ChangeSharedUserNameActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.AddDeviceForSharedUserActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.SelectAuthorizedDeviceActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.UserPageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.ModifyUserNameActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.ModifyPasswordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.MessageListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.MessageDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.SettingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.AboutActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.FeedbackActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.device.add.DoorCheckFailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.device.lock.setting.GeoFenceUnlockActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.device.lock.setting.DoorSensorAlignmentActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.device.lock.setting.SetGeofenceActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.PrivacyPolicyActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sign.TermActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ShareDeviceActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <!--注册scheme-->
            <intent-filter android:label="share User">
                <!--必有项-->
                <action android:name="android.intent.action.VIEW" />
                <!--表示该页面可以被隐式调用，必须加上该项-->
                <category android:name="android.intent.category.DEFAULT" />
                <!--BROWSABLE指定该Activity能被浏览器安全调用-->
                <category android:name="android.intent.category.BROWSABLE" />

                <!--协议部分-->
                <!--声明自定义scheme，类似于http, https-->
                <!--                <data-->
                <!--                    android:host="192.168.8.252"-->
                <!--                    android:pathPrefix="/share/user"-->
                <!--                    android:scheme="http" />-->
                <data
                    android:host="wfp.irevolohome.com"
                    android:pathPrefix="/triple"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter android:label="test_app">
                <!--必有项-->
                <action android:name="android.intent.action.VIEW" />
                <!--表示该页面可以被隐式调用，必须加上该项-->
                <category android:name="android.intent.category.DEFAULT" />
                <!--BROWSABLE指定该Activity能被浏览器安全调用-->
                <category android:name="android.intent.category.BROWSABLE" />

                <!--协议部分-->
                <!--声明自定义scheme，类似于http, https-->
                <data
                    android:host="wfp.irevolohome.com"
                    android:scheme="app" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.device.lock.setting.geofence.MapActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.OpenDrawHandPwdActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sign.DrawHandPwdAutoLoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.CloseDrawHandPwdActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.HelpActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--   <service android:name=".mqtt.MqttService" />-->
        <service android:name=".manager.LockAppService" />
        <service android:name=".manager.geo.LockGeoFenceService" />

        <receiver android:name=".receiver.WifiStateReceiver">
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>