<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.revolo.lock">

    <!-- 打开手电筒需要的权限 -->
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <!-- 扫描QR Code -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RevoloLock"
        android:name=".App">
        <activity
            android:name=".ui.sign.SignSelectActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.sign.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.sign.RegisterInputNameActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.sign.RegisterAddAvatar"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.sign.RegisterAddAvatarNextActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.home.add.AddDeviceStep1Activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.sign.ForgetThePwdActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.home.add.AddDeviceActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.home.add.AddDeviceQRCodeStep2Activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.sign.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.home.add.AddDeviceStep2BleConnectActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.home.add.BleConnectFailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.home.add.AddWifiActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.home.add.BleConnectSucActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.home.add.WifiConnectActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.home.add.AddWifiSucActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.home.add.AddWifiFailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.home.add.DoorSensorCheckActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.home.add.InputESNActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.test.TestWifiActivity" />
        <activity android:name=".ui.test.TestSelectActivity" />
        <activity android:name=".ui.test.TestCommandActivity" />
        <activity android:name=".ui.home.device.DeviceDetailActivity" />
        <activity android:name=".ui.home.device.OperationRecordsActivity" />
        <activity android:name=".ui.home.device.PasswordListActivity" />
        <activity android:name=".ui.home.device.AddInputNewPwdActivity" />
        <activity android:name=".ui.home.device.AddNewPwdSelectActivity" />
        <activity android:name=".ui.home.device.AddNewPwdNameActivity" />
        <activity android:name=".ui.home.device.PasswordDetailActivity" />
        <activity android:name=".ui.home.device.ChangePwdNameActivity" />
        <activity android:name=".ui.home.device.UserManagementActivity" />
        <activity android:name=".ui.home.device.AddNewShareUserInputNameActivity" />
        <activity android:name=".ui.home.device.AuthorizationManagementActivity" />
    </application>

</manifest>