<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.revolo.lock">

    <!-- 打开手电筒需要的权限 -->
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <!-- 扫描QR Code -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- MQTT用到的权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RevoloLock"
        android:name=".App">

        <!-- Mqtt Service -->
        <service android:name="org.eclipse.paho.android.service.MqttService"/>

        <activity
            android:name=".ui.sign.SignSelectActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.sign.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.sign.RegisterInputNameActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.sign.RegisterAddAvatar"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.sign.RegisterAddAvatarNextActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.device.add.AddDeviceStep1Activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.sign.ForgetThePwdActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.device.add.AddDeviceActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.device.add.AddDeviceQRCodeStep2Activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.sign.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.device.add.AddDeviceStep2BleConnectActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.device.add.BleConnectFailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.device.add.AddWifiActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.device.add.BleConnectSucActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.device.add.WifiConnectActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.device.add.AddWifiSucActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.device.add.AddWifiFailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.device.add.DoorSensorCheckActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.device.add.InputESNActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.test.TestWifiActivity" />
        <activity android:name=".ui.test.TestSelectActivity" />
        <activity android:name=".ui.test.TestCommandActivity" />
        <activity android:name=".ui.device.lock.DeviceDetailActivity" />
        <activity android:name=".ui.device.lock.OperationRecordsActivity" />
        <activity android:name=".ui.device.lock.PasswordListActivity" />
        <activity android:name=".ui.device.lock.AddInputNewPwdActivity" />
        <activity android:name=".ui.device.lock.AddNewPwdSelectActivity" />
        <activity android:name=".ui.device.lock.AddNewPwdNameActivity" />
        <activity android:name=".ui.device.lock.PasswordDetailActivity" />
        <activity android:name=".ui.device.lock.ChangePwdNameActivity" />
        <activity android:name=".ui.device.lock.UserManagementActivity" />
        <activity android:name=".ui.device.lock.AddNewShareUserInputNameActivity" />
        <activity android:name=".ui.device.lock.AuthorizationManagementActivity" />
        <activity android:name=".ui.device.lock.SharedUserDetailActivity" />
        <activity android:name=".ui.device.lock.setting.DeviceSettingActivity" />
        <activity android:name=".ui.device.lock.setting.ChangeLockNameActivity" />
        <activity android:name=".ui.device.lock.setting.WifiSettingActivity" />
        <activity android:name=".ui.device.lock.setting.AutoLockActivity" />
        <activity android:name=".ui.device.lock.setting.PrivateModeActivity" />
        <activity android:name=".ui.device.lock.setting.DuressCodeActivity" />
        <activity android:name=".ui.device.lock.setting.DoorLockInformationActivity" />
        <activity android:name=".ui.user.AuthUserDetailActivity" />
        <activity android:name=".ui.user.ChangeSharedUserNameActivity" />
        <activity android:name=".ui.user.AddDeviceForSharedUserActivity" />
        <activity android:name=".ui.user.SelectAuthorizedDeviceActivity" />
        <activity android:name=".ui.mine.UserPageActivity" />
        <activity android:name=".ui.mine.ModifyUserNameActivity" />
        <activity android:name=".ui.mine.ModifyEmailActivity" />
        <activity android:name=".ui.mine.ModifyPasswordActivity" />
        <activity android:name=".ui.mine.MessageListActivity" />
        <activity android:name=".ui.mine.MessageDetailActivity" />
        <activity android:name=".ui.mine.SettingActivity" />
        <activity android:name=".ui.mine.AboutActivity" />
        <activity android:name=".ui.mine.FeedbackActivity" />
        <activity android:name=".ui.device.add.DoorCheckFailActivity" />
        <activity android:name=".ui.device.lock.setting.GeoFenceUnlockActivity" />
        <activity android:name=".ui.device.lock.setting.DoorMagnetAlignmentActivity" />
        <activity android:name=".ui.test.TestAddWifiActivity" />
    </application>

</manifest>